---
import Layout from "@/layouts/layout.astro";
import Card from "@/components/card.astro";
import Hero from "@/components/hero.astro";
import Highlight, { HighlightColor } from "@/components/highlight.astro";
import Testimonial from "@/components/testimonial.astro";
import type {
  HeroSection,
  HighlightsSection,
  TestimonialsSection,
} from "@/types/home";

const content = await import("@/content/index.md");
const { heroSection, highlightsSection, testimonialsSection } =
  content.frontmatter as {
    heroSection: HeroSection;
    highlightsSection: HighlightsSection;
    testimonialsSection: TestimonialsSection;
  };
const highlights = highlightsSection.highlights;
const testimonials = testimonialsSection.testimonials;
---

<Layout title="Home">
  <div class="space-y-12">
    {/* Hero Section */}
    <Hero
      title={heroSection.title}
      description={heroSection.description}
      primaryBtnText={heroSection.primaryBtnText}
      secondaryBtnText={heroSection.secondaryBtnText}
    />

    {/* Highlights Section */}
    <Card title={highlightsSection.title} emoji={highlightsSection.emoji}>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        <Highlight
          color={HighlightColor.BLUE}
          title={highlights[0].title}
          description={highlights[0].description}
        />
        <Highlight
          color={HighlightColor.GREEN}
          title={highlights[1].title}
          description={highlights[1].description}
        />
        <Highlight
          color={HighlightColor.PURPLE}
          title={highlights[2].title}
          description={highlights[2].description}
        />
      </div>
      <div class="prose max-w-none text-gray-600 dark:text-gray-300">
        <blockquote class="border-l-4 border-blue-500 pl-4 italic">
          {highlightsSection.highlightsQuote}
        </blockquote>
      </div>
    </Card>

    {/* Testimonials Section */}
    <Card title={testimonialsSection.title} emoji={testimonialsSection.emoji}>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          testimonials.map((testimonial) => (
            <Testimonial
              name={testimonial.name}
              role={testimonial.role}
              content={testimonial.content}
              details={testimonial.details}
              emoji={testimonial.emoji}
            />
          ))
        }
      </div>
    </Card>
  </div>
</Layout>
