---
import Layout from "src/layouts/layout.astro";
import Video from "src/components/video.astro";
import Card from "src/components/card.astro";
import type { VideosSection } from "src/types/videos";

const content = await import("src/content/videos.md");
const { videosSection } = content.frontmatter as {
  videosSection: VideosSection;
};
const videos = videosSection.videos;
---

<Layout title="My Videos">
  <Card
    title={videosSection.title}
    emoji={videosSection.emoji}
    description={videosSection.description}
  >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        videos.map((video) => (
          <Video
            title={video.title}
            description={video.description}
            thumbnail={video.thumbnail}
            url={video.url}
          />
        ))
      }
    </div>
  </Card>
</Layout>
