---
import Layout from "@/layouts/layout.astro";
import Video from "@/components/video.astro";
import Card from "@/components/card.astro";
import type { VideosSection } from "@/types/videos";

const metadata = {
  title: "My Videos",
  description:
    "Access free AP and high school chemistry video lessons by Prof. Suja Sankar. Clear explanations of complex chemistry concepts, step-by-step problem solving, and exam preparation strategies to boost your understanding.",
};

const content = await import("@/content/videos.md");
const { videosSection } = content.frontmatter as {
  videosSection: VideosSection;
};
const videos = videosSection.videos;
---

<Layout title={metadata.title} description={metadata.description}>
  <Card
    title={videosSection.title}
    emoji={videosSection.emoji}
    description={videosSection.description}
  >
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        videos.map((video) => (
          <Video
            title={video.title}
            description={video.description}
            thumbnail={video.thumbnail}
            url={video.url}
          />
        ))
      }
    </div>
  </Card>
</Layout>
